*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  font-family: poppins;
  color: #333333;
}
.hover1:hover{
  cursor: pointer;
  color: #beb7a4;
}
a:visited{
  color: #111;
  text-decoration: underline;
}
.cp:hover{
    cursor: pointer;
}
nav{
  overflow-x: hidden;
    background-color: #fff;
    display: flex;
    width: 100%;
    z-index: 1;
    position: sticky;
    overflow-y: hidden;
    top: 0;
    height: 90px;
    align-items: center;
    padding-left: 60px;
}
nav .heading{
    font-size: 35px;
    display: flex;
    
}
nav a{
    transition: color 0.5s;
    text-decoration: none;
    color: #333333;
}
.name-a{
    color: #beb7a4;
}
nav .heading2{
    position: relative;
    left: 650px;
}
nav .heading2 ul li{
display: inline;
font-size: 16px;
font-weight: 600;
letter-spacing: 1px;
}
nav .heading2 ul li a{
    text-decoration: none;
   color: #333333;
   padding: 30px;
   transition: color 0.5s;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
   background:  linear-gradient(to bottom, rgba(245, 242, 242, 0.8), #c7c2b3),url(./assets/common-bg\ \(1\).svg);
   background-position: center;
    width: 100%;
    height: 700px;
}
.hero .intro{
  position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.intro h1{
    font-size: 4rem;
    white-space: inherit;
    color: #111;
    font-weight: 700;
    letter-spacing: 3px;
}
.intro p{
   color: #333333;
   font-size: 1.1rem;
   text-transform: capitalize;
   letter-spacing: 1px;
   font-weight: 500;
   width: 630px; 
  padding: 20px;
  padding-bottom: 40px;
}
.intro button{
    width: 190px;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #111;
    background-color: #beb7a4;
    border: none;
box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    letter-spacing: 1px;
    border-radius: 4px;
    transition: 0.3s ease; 
}
.hover2:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
.about{
  background:  linear-gradient(to top, rgba(245, 242, 242, 0.8), #c7c2b3),url(./assets/common-bg\ \(1\).svg);
    width: 100%; 
    height: 900px;
    color: #333333;
}
.about h1{
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #111;
text-align: center;
}
.about p{
  margin: auto;
  text-align: center;
    font-size: 18px;
    text-transform: capitalize;
   font-weight: 500;
 width: 800px;
}
.get{
    width: 50%;
  margin-top: 7rem;
 margin-left: 5rem;
}
.get article{
    font-size: 18px;
    text-transform: capitalize;
   font-weight: 500;
    line-height: 30px;
    width: 500px;
}
.get h2{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #111;
    padding-bottom: 1.2rem;
}
.get button{
    margin: 0;
    margin-top: 4rem;
    width: 190px;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #111;
    background-color: #beb7a4;
    border: none;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    letter-spacing: 1px;
    border-radius: 4px;
    transition: 0.3s ease;
}
.skill{
   display: flex;
   flex-direction: column;
   justify-self: end;
   margin-top: -32rem;
    width: 50%;
}
.skill h3{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #111;
    padding-bottom: 2rem;
}
.logos{
    width: 40%;
    display: flex;
}
.logos img{
 
    width: 100px;
    padding-right: 20px;
}
/* From Uiverse.io by MijailVillegas */ 
.card {
    max-width: fit-content;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
   position: relative;
   right: 636px;
   top: 50px;
    gap: 1rem;
    backdrop-filter: blur(15px);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
      inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
    transition: 0.5s;
  }
  .card:hover {
    animation: ease-out 5s;
    background: #e0ded8
  }
  .card ul {
    padding: 1rem;
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card ul li {
    cursor: pointer;
  }
  .svg {
    transition: all 0.3s;
    /* if you find some problems change w - h : 30px*/
    padding: 1rem;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    color: #beb7a4;
    fill: currentColor;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
      inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
  }
  .text {
    opacity: 0;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
    transition: all 0.3s;
    color: #beb7a4;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: 9999;
    box-shadow: -5px 0 1px rgba(153, 153, 153, 0.2),
      -10px 0 1px rgba(153, 153, 153, 0.2),
      inset 0 0 20px rgba(255, 255, 255, 0.3),
      inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.082);
  }
  /*isometric prooyection*/
  .iso-pro {
    transition: 0.5s;
  }
  .iso-pro:hover a > .svg {
    transform: translate(15px, -15px);
    border-radius: 100%;
  }
  .iso-pro:hover .text {
    opacity: 1;
    transform: translate(25px, -2px) skew(-5deg);
  }
  .iso-pro:hover .svg {
    transform: translate(5px, -5px);
  }
  .iso-pro span {
    opacity: 0;
    position: absolute;
    color: #beb7a4;
    border-color: #beb7a4;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
      inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
    border-radius: 50%;
    transition: all 0.3s;
    height: 60px;
    width: 60px;
  }
  .iso-pro:hover span {
    opacity: 1;
  }
  .iso-pro:hover span:nth-child(1) {
    opacity: 0.2;
  }
  .iso-pro:hover span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
  }
  .iso-pro:hover span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
  }
  .projects{
    background:  linear-gradient(to bottom, rgba(245, 242, 242, 0.8), #c7c2b3),url(./assets/common-bg\ \(1\).svg);
    width: 100%;
    height: 1800px;
    color: #333333;
    padding: 100px;
    text-align: center;
  }
  .project-heading{
    text-align: center;
  }
  .project-heading h1{
    font-size: 45px;
    padding-bottom: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #111;
}
  .project-heading p{
    font-size: 18px;
    text-transform: capitalize;
   font-weight: 500;
    margin: auto;
    line-height: 30px;
    width: 800px;
  }
  .propic{
    width: 55%;
  }
  .propic img{
   
    margin-top: 100px;
    border-radius: 15px;
    background: linear-gradient(145deg, #b9b298, #cacaca);
    box-shadow:  31px 31px 62px #989898,
                 -31px -31px 62px #ffffff;
    width: 600px;
    height: 350px;
  }
  .box1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
   
  }
  .text1{
    flex: none;
   width: 80%;
    font-size: 15px;
    font-weight: 500;
    color: #111;
  }
  .text1 p{
    color: #333333;
    line-height: 30px;
    position: relative;
    top: 20px;
    font: 16px;
  }
  .pic1 {
    padding-right: 5rem;
  }
  .box2{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .text2{
    flex: none;
   width: 80%;
    font-size: 15px;
    font-weight: 500;
    color: #111;
  }
  .text2 p{
    color: #333333;
    line-height: 30px;
    position: relative;
    top: 20px;
    font: 16px;
  }
  .pic2 {
    padding-right: 5rem;
  }
  .box3{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
   
  }
  .text3{
    flex: none;
   width: 80%;
    font-size: 15px;
    font-weight: 500;
    color: #111;
  }
  .text3 p{
    color: #333333;
    line-height: 30px;
    position: relative;
    top: 20px;
    font: 16px;
  }
  .pic3 {
    padding-right: 5rem;
  }
  button{
    position: relative;
    top: 80px;
    width: 160px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #111;
    background-color: #beb7a4;
    border: none;
box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    letter-spacing: 1px;
    border-radius: 4px;
    transition: 0.3s ease;
  }
  
  .contact{
    padding: 100px;
    background:  linear-gradient(to top, rgba(245, 242, 242, 0.8), #c7c2b3),url(./assets/common-bg\ \(1\).svg);
    height: 1050px;
    width: 100%;
  }
  .con-heading{
    text-align: center;
  }
  .con-heading h1{
    font-size: 45px;
    padding-bottom: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #111;
  }
  .con-heading p{
    font-size: 16px;
    text-transform: capitalize;
   font-weight: 500;
    line-height: 30px;
    color: #333333;
  }
  .info{
    font-weight: 500;
    letter-spacing: 0px;
    width: 1000px;
    height: 600px;
   background-color: #e4e1d9;
    border-radius: 10px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px; 
    margin: 0 auto;
    margin-top: 120px;
    padding: 50px;
    
  }
  .info input, textarea{
    background: #f0f0f0;
    font-weight: 500;
    font-size: 16px;
   font-weight: 500;
    color: #333333;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 0px 20px;
    outline: none;
  }
.info textarea{
  padding: 20px 20px;
  height: 200px;
}
.info textarea::placeholder{
  letter-spacing: -1px;
}
  .info::placeholder{
    font-size: 16px;
    text-transform: capitalize;
   font-weight: 500;
    line-height: 30px;
    color: #333333;
  }
.name, .email{
padding-bottom: 20px;
}
.info button{
  margin: 0 auto;
  margin-top: -2rem;
  width: 160px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #111;
  background-color: #beb7a4;
  border: none;
box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
  letter-spacing: 1px;
  border-radius: 4px;
  transition: 0.3s ease;
}
.msg{
  color: #111;
  display: block;
}
.footer{
  width: 100%;
  background-color: #000;
 position: relative;
color: #fff;
padding: 70px;
height: 370px;
display:flex;
justify-content: space-between;
align-items: center;
}
.foot-heading h1{
  position: relative;
  bottom: 20px;
font-weight: 600;
font-size: 22px;
letter-spacing: 1px;
}
.foot-heading{
  position: relative;
  bottom: 40px;
}
.social{
  position: relative;
  bottom: 50px;
}
ul {
  list-style: none;
}
.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}
.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}
.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}
.foot-heading p{
  width: 700px;
  font-size: 16px;
    text-transform: capitalize;
   font-weight: 500;
    line-height: 30px;
    color: #d4cdcd;
}
.footer-bottom{
  width: 100%;
  background-color: #000;
  height: 100px;
  padding: 0px 100px;
  text-align: center;
}
.bdr{
  border-bottom: #fff 1px solid;
}
.copy{
  padding: 35px;
  color: #fff;
  font-size: 12px;
}
.copy a{
  color: #fff;
  font-weight: 600;
}
html{
  scroll-behavior: smooth;
}



/* ----------------media---------- */



@media only screen and (max-width: 600px){
  nav{
    height: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
  }
.heading {
  margin: auto;
  
  width: 100%;
    font-size: 30px;
  }
  .heading h3{
    font-size: 2.2rem;
  }
  nav ul{
    display: none;
  }
.hero .card{
    display: none;
  }
  .intro{
   
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: -15vh;
   

  }
  .intro h1{
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: normal;
  }
  .intro p{
    letter-spacing: normal;
    font-size: 1rem;
    margin: 0 auto;
    width: 330px;
  }
  .intro a{
    margin-top: -5rem;
  }
  .intro button{
    width: 100px;
    font-weight: 550;
margin: 0 auto;
    letter-spacing: normal;
    margin-bottom: 30px;
   font-size: 15px;
   height: 50px;
  }
  .about{
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
text-align: center;

  }
  .about h1{
    font-size: 40px;
  }
  .about p{
    font-size: 16px;
    letter-spacing: normal;
    width: 330px;
  margin-left: auto;
  margin-top: 20px;
  padding-bottom: 5rem;
  }
  .get{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
    margin-bottom: 11rem;
 text-align: center;
  }
  .get h2{
 
  margin: 0 auto;
    font-size: 2rem;
  }
  .get article{
    font-size: 16px;
    margin: 0 auto;
    letter-spacing: normal;
    width: 21rem;
    padding-bottom: 2.5rem;
  }
  .get button{
    width: 100px;
    margin: auto;
    font-weight: 550;
    letter-spacing: normal;
    font-size: 15px;
    height: 50px;
  }
  .get a{
    margin-top: -5rem;
  }
  .skill{
    margin: auto;
    width: 100%;
   
  }
  .logos{
    display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  }
  .skill img{
    margin: auto;
    width: 100px;
  }
  .projects{
width: 100%;
    margin-bottom: -2rem;
    height: 175rem;
    padding: 0;
  }
  .project-heading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .projects h1{
    margin-top: 20rem;
    font-size: 30px;
  }
  .project-heading p{
    font-size: 1rem;
    margin-left: auto;

    width: 21rem;
    text-align: center;

  }
  .propic{
    width: 100%;
   
  }
  .propic img{
    width: 21rem;
    padding: 0;
    height: 175px;
   }
 .box1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
 }
 .pic1{
 padding: 0;
 width: 100%;
 }
.text1{
  margin-top: -16rem;
}
 .box2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
 }
 .pic2{
 padding: 0;
 width: 100%;
 }
.text2{
  margin-top: -16rem;
}
 .box3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
 }
 .pic3{
 padding: 0;
 width: 100%;
 }
.text3{
  margin-top: -16rem;
}
.box3 a{}
   .contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
   }
   
   .contact h1{
    font-size: 30px;
    font-weight: 600;
    margin: auto;
   }
   .conheading p{
    margin: auto;
    font-size: 16px;
    width: 330px;
    letter-spacing: normal;
    
   }
   .info{
    width: 30vh;
     border: none;
     border-radius: 0;
     box-shadow: none;
     background: none;
     padding: 0;
    height: 550px;
    font-size: 16px;
    font-weight: 400;
    
    
   }
   .info form{
    margin: 0 auto;

   }
   .info button{
    margin: 0 auto;
    margin-left: 10rem;

    width: 100px;
    font-weight: 550;
    letter-spacing: normal;
   font-size: 15px;
   height: 50px;
   
   }
.foot-heading h1{
  font-size: 16px;
  font-weight: 500;
  margin-left: -20px;
  margin-top: -80px;
}
.foot-heading p{
  width: 250px;
  letter-spacing: normal;
  font-size: 10px;
  margin-left: -20px;
  line-height: normal;
  font-weight: normal;
  margin-bottom: -100px;
}
.social{
  width: 10px;
  height: 10px;
  position: absolute;
bottom: 150px;
left: 130px;
}
.bdr{
  position: absolute;
}
.copy{
  position: absolute;
  left: 0;
}}
